@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

*{
  font-family: "Roboto";
}

body {
  overflow: hidden;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  margin: 0;
}


.top-bar{
  position: absolute;
  top: 0;
  width: 100%;;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  transition: ease 1s;
}

.title{
  font-weight: 900;
  letter-spacing: 10px;
  color: white;
  transition: ease 1s;
  opacity: 0.8;
}

header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-40%);
  text-align: center;
  font-size: larger;
  color: #ffffff !important;
  opacity: 0.8;
}

header h1{
  margin: 1rem;
}

header p{
  margin: 0;
}

/* .button */
.button {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: #1cb495;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  line-height: 2.5em;
  padding: 1em 1.125em;
  text-decoration: none;
  text-align: center;
  font-size: larger
}

.button:hover{
  background-color: #1fcaa7;
}

.button:active{
  background-color: #199e83;
}

/* icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}


ul.icons li .icon:before {
  font-size: 1.25em;
}

ul.icons li a {
  color: inherit;
}
/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon>.label {
  display: none;
}

.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}

/* footer  */
#footer {
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  margin: 3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

#footer .icons {
  margin: 0 0 0.5em 0;
}

#footer .copyright {
  list-style: none;
  padding: 0 1rem;
}

#footer .copyright li {
  display: inline-block;
  line-height: 1em;
  margin: 0 0 0 0.75em;
  padding: 0 0 0 0.75em;
}

#footer:hover {
  opacity: 1;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 5px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding:2em; 
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
  font-weight: bold;
  font-size:2rem;;
}

form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input, textarea{
  border:rgba(0,0,0,0.2) solid 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;;
}

input[type="submit"]{
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: #1cb495;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  padding: 0.5em 1.125em;
  text-decoration: none;
  text-align: center;
  font-size: larger
}

@media screen and (max-width: 480px) {
  #footer {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  #footer .copyright li {
    margin: 0;
    padding: 0;
  }
  
  ul.icons li:last-child {
    padding: 0;
  }
  
  .top-bar{
    background-color: rgba(255,255,255,0.9);
  }

  .title{
    font-weight: bolder;
    letter-spacing: 10px;
    color: transparent;
    text-shadow: #000 0px 0px 1px;
  }

  header h1{
    margin: 1rem -2rem;
  }

  .button {
    border: 0;
    cursor: pointer;
    line-height: normal;
    padding: 0.75em 1em;
    font-size: large;
  }
}